.footer {
	position: absolute;
	bottom: 20px;
	text-align: center;
}

.campusPlural {
	flex-direction: 'row';
	flex-wrap: 'wrap';
}

.GOOGLE-FONTS {
  font-family: 'Roboto', sans-serif;
}

.input {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 13px;
}

.output {
  height: 500px;
  white-space: pre-line;
}