*:focus {
  outline: none;
}

.footer {
	position: absolute;
	bottom: 20px;
	text-align: center;
}

.campusPlural {
	flex-direction: 'row';
	flex-wrap: 'wrap';
}

.GOOGLE-FONTS {
  font-family: 'Roboto', sans-serif;
}

.input {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
}

.output {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 26px;
}

ul {
  display: table;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

li {
  display: table-row;
  width: 100%;
}

span {
  display: table-cell;
}

body {
  background-color: #efefef;
}

pre {
  background-color: white;
  border: none;
}

h1 {
  padding: 50px;
  font-size: 50px;
}